@charset "utf-8";

:root{
    --primary-color: rgb(235, 137, 221); 
    --secondary-color: rgb(208, 117, 195);
    --large-text: 20px;
    --medium-text: 18px;
    --small-text: 15px;
}



.wrap{
    width: 1000px;
    margin: 0 auto;
}
#header{
    text-align: center;
}
.nav a{
    font-size: var(--large-text);
    color: var(--primary-color);
    text-decoration: none;
    text-transform: capitalize;
}
.brand{
    width: 600px;
    margin: 0 auto;
}
.new h1{
    font-size: var(--medium-text);
    text-transform: capitalize;
    text-align: center;
}
.new{
    width: 606px;
    margin: 0 auto;
}
.brand-text{
    font-size: var(--small-text);
    text-transform: uppercase;
    word-break: break-all;
    border: 2px solid #333;
    width: 400px;
    margin: 30px auto;
    padding: 10px;
    text-align: center;
}
#footer{
    text-align: center;
}
.delivery hr{
    background-color: var(--secondary-color);
    height: 1px;
    border: 0;
}
.delivery h2{
    font-size: var(--medium-text);
    text-transform: capitalize;
}
.contact h3{
    font-size: var(--large-text);
    color: var(--secondary-color);
}
.copyright{
    background-color: var(--secondary-color);
    text-transform: capitalize;
    color: white;
    padding: 20px 0;
}

/* 미디어 쿼리 */
@media screen and (max-width: 472px) {
    img,
    picture,
    video {
        max-width: 100%;
    }
    .wrap{
        width: 100%;
    }
    .nav {
        display: grid;
        grid-template-rows: 50px 50px;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 1px;
    }
    .nav a {
        background-color: var(--primary-color);
        color: white;
    }
    .nav a:hover {
        background-color: var(--secondary-color);
        color: white;
    }
    .brand{
        width: 100%;
    }
    .new{
        width: 100%;
        text-align: center;
    }
    .brand-text{
        width: 276px;
    }
}